*.pyc

# coverage files
*.coverage
htmlcov
cover

# temporary files
*~

# mac os x 
.DS_Store

# build artifacts from python setup.py build or python setup.py install
build/
dist/
*.egg-info
*egg*/
docs/_build

# idea project file 
/.idea
